<nav id="header" class="fixed w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a href="/" class="text-white toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl">
          <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
          </svg>
          ChatHub
        </a>
      </div>
      <div class="block justify-end pr-4">
        <a href="/signin"
          id="navAction"
          class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 transform transition hover:scale-105 duration-300 ease-in-out">
          Login
        </a>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>