
<aside id="online-sidebar" class="hidden fixed right-6 z-40 w-64 pt-2 rounded-lg transition-transform translate-x-0" aria-label="Sidebar">
    <div class="h-full max-h-screen px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
         <div class="hidden sm:flex pt-6 pb-2  items-center justify-center flex mb-6">
            <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5" r="5" fill="green" />
              </svg>
            <div class="pl-2 text-xl text-green-500 font-bold">Online Users</div>
        </div>

       <ul class="space-y-2 font-medium" id="online_user_list">
        
        <li class="flex hidden" id="dummy-online">
            <div  class=" border-solid border-white border-1 w-8 h-8 flex items-center rounded-full text-white overflow-hidden">
                <img src="" class="w-full h-full rounded-full">
            </div>
            <span class="pt-1 text-white ms-3 whitespace-nowrap"></span>
        </li>
       </ul>
    </div>
 </aside>